APP_PORT=8080
DATABASE_URL=jdbc:postgresql://localhost:5432/seapedia
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=yourpassword
JWT_SECRET=ganti-dengan-secret-key-anda
JWT_EXPIRATION=900000
ALLOWED_ORIGINS=http://localhost:5173